<div  class="container-fluid">
    <div class="card ">
        <div class="letters" fxLayout="row" style="font-style:2vw">
          <span class="letter1">F</span>
          <span class="letter2">U</span>
          <span class="letter3">N</span>
          <span class="letter4">D</span>
          <span class="letter5">O</span>
          <span class="letter6">O</span>
          <span class="logout">
            <div id="log" class="btn btn-primary">DashBoard</div>
          </span>
        </div>
        <div class="display" style="font-style:2vw">
          <h1 class="display-5">Welcome to Admin Dashboard </h1>
        </div>
      </div>
<div class="card ">
  <table id="userList" class="table-hover " style="width:100%; color: black; overflow-x: auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Questions Asked</th>
        <th scope="col">Accept/Reject</th>
      </tr>
    </thead>
  </table>
</div>
</div>

<!-- <div class="sk-circle"  *ngIf = "!show" >
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
  </div> -->