<div class="container-fluid">
  <div class="card ">
    <div class="letters" fxLayout="row" style="font-style:2vw">
      <span class="letter1">F</span>
      <span class="letter2">U</span>
      <span class="letter3">N</span>
      <span class="letter4">D</span>
      <span class="letter5">O</span>
      <span class="letter6">O</span>
      <span class="logout">
        <div id="log" class="btn btn-primary">Logout</div>
      </span>
    </div>
    <div class="display" style="font-style:2vw">
      <h1 class="display-5">Welcome to Admin Dashboard </h1>
    </div>
  </div>
  <br>
  <div class="container-fluid " style="overflow-x:auto">
    <div align="center">
      <div class="col-lg-12"></div>
      <div class="col-lg-12">
        <div id="services"></div>
      </div>
    </div>

    <div class="card ">
      <table id="userList" class="table-hover " style="width:100%; color: black; overflow-x: auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email ID</th>
            <th scope="col">Services</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="myDataPopup" style="display:none">
  Launch demo modal
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Credentials</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        First Name : <label id="firstName"></label><br>
        Last Name : <label id="lastName"></label><br>
        Phone Number : <label id="phoneNumber"></label><br>
        Email Id : <label id="email"></label><br>
        Role : <label id="role"></label><br>
        Service : <label id="service"></label><br>
        Created Date : <label id="createdDate"></label><br>
        Modified Date : <label id="modifiedData"></label><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>