<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<div class="container">
    <div class="card card-container">
            <div class="letters" fxLayout="row">
                <span class="letter1">F</span>
                <span class="letter2">U</span>
                <span class="letter3">N</span>
                <span class="letter4">D</span>
                <span class="letter5">O</span>
                <span class="letter6">O</span>
              </div>
          <h3>  Admin Login </h3>
          <form>
          <div class = "email">
            <input type="email" id="inputEmail" class="form-control" placeholder="Enter Email" required autofocus>
            <div class="colors" id = "msg"></div>
          </div>
          <div class = "password">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <div class = "colors" id = "msgp"></div>
            </div>
          <br>
            <div class = "button">
          <button class="btn btn-primary" type="submit">Sign in</button>
            </div>
            <p id = "errorMessage"></p>
        </form>
    </div>
</div>