   <div class="container">
    <div class="card card-container">
            <div class="letters" fxLayout="row">
                <span class="letter1">F</span>
                <span class="letter2">U</span>
                <span class="letter3">N</span>
                <span class="letter4">D</span>
                <span class="letter5">O</span>
                <span class="letter6">O</span>
              </div>
          <h3>  Admin Login </h3>
          <form>
          <div class = "email">
            <input type="email" id="inputEmail" class="form-control" placeholder="Enter Email" required autofocus>
            <div class="colors" id = "msg"></div>
          </div>
          <div class = "password">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <div class = "colors" id = "msgp"></div>
            </div>
          <br>
            <div class = "button">
          <button class="btn btn-primary" type="submit">Sign in</button>
            </div>
            <p id = "errorMessage"></p>
        </form>
    </div>
</div>